<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>TEST kegle.pl</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
  <div class="container-fluid">
	<div class="row">
	  <div class="col-sm-2">
	  {% block sidebar %}
		<ul class="sidebar-nav">
		  <li><a href="{% url 'index' %}">Główna</a></li>
		  {% comment %}<li><a href="{% url 'przepisy_programy' %}">Przepisy i programy</a></li>
		  <li><a href="{% url 'zawody_archiwum' %}">Archiwum</a></li>
		  <li><a href="">InnyLink</a></li>
		 {% if user.is_authenticated %}
			<li>User: {{ user.get_username }} {{user.pk}}</li>
			{% load user_tags %}
				{% if request.user|has_group:"Zawodnicy" %}
					<li><a href="{% url 'zawodnicy_index' %}">Główna Zawodnik</a></li>
					<li><a href="{% url 'moje_konie_bryczki' %}">Moje dane</a></li>
				{% endif %}
				{% if request.user|has_group:"Stowarzyszenia" %}
					<li><a href="{% url 'stowarzyszenia_index' %}">Główna Stowarzyszenia</a></li>
					<li><a href="{% url 'stowarzyszenia_konie_bryczki' %}">Moje dane</a></li>
				{% endif %}
				{% if request.user|has_group:"Organizatorzy" %}
					<li><a href="">Główna Organizator</a></li>
				{% endif %}
			<li><a href="{% url 'logout'%}?next=/cms">Logout</a></li>
		 {% else %}
			<li><a href="{% url 'login'%}?next=/cms/login_success/">Login</a></li>   
		 {% endif %} 
		</ul>{% endcomment %}
	  {% endblock %}
	  </div>
	  <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
	</div>
  </div>
</body>
</html>
