{% extends "kegle_pl/base_generic.html" %}

{% block content %}

{% if przepisy %}
	<h1>Przepisy zaprzęgowe</h1>
	<p><em>--- Sekcji lista przepisów ---</em></p>
		{% regroup przepisy by opublikowany|date:"Y" as sort_by_year %} 
			{% for years in sort_by_year %}
				<b>Rok ogłoszenia: {{ years.grouper }}</b>
				<ul>
					{% for przepisy in years.list %}
					<li>
						<a href="{% url 'przepisy_detail' pk=przepisy.slug %}">{{ przepisy.tytul }}</a><br/>
						<em>Uwagi:{{przepisy.opis_tresci}}</em>
					</li>
					{% endfor %}
				</ul>
			{% endfor %}
<p><em>--- Koniec sekcji lista przepisów ---</em></p>
{% endif %}

{% if programy %}
	<h1>Programy ujeżdżeniowe</h1>
	<p><em>--- Sekcji lista programów ---</em></p>
		<ul>
			{% for programy in programy %}
				<li>
					<a href="{% url 'programy_detail' pk=programy.slug %}">{{ programy.tytul }} </a><br/>
					<em>Uwagi:</em>{{programy.opis_tresci}}<br/>	
				</li>
			{% endfor %}
		</ul>
<p><em>--- Koniec sekcji lista programów ---</em></p>	
{% endif %}

{% endblock %}
