{% extends "kegle_pl/base_generic.html" %}

{% block content %}

<h1>Strona Główna</h1>
<p><em>--- Sekcja ogłoszenie ---</em></p>
    {% for artykuly_glowna in artykuly_glowna %}
        <h3><p>{{ artykul_glowna.tytul }}</p></h3>
        <p>{% autoescape off %}{{ artykul_glowna.tresc_wpisu }}{% endautoescape %}</p>
    {% endfor %}
<p><em>--- Koniec sekcji ogłoszenie ---</em></p>
<p><em>--- Sekcji lista aktualnie rozgrywanych zawodów ---</em></p>
    {% if zawody_rozgrywane %}
    <ul>
        {% for zawody_rozgrywane in zawody_rozgrywane %}
        <li>
            <a href="{% url 'zawody_detail' pk=zawody_rozgrywane.pk  %}"> <img src="{{ zawody_rozgrywane.logo_zawodow.url }}" alt="Logo" height="40" width="40">{{ zawody_rozgrywane.tytul }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Brak aktywnych zawodów.</p>
    {% endif %}
<p><em>--- Koniec sekcji lista aktualnie rozgrywanych zawodów ---</em></p>
<p><em>--- Sekcji lista najbliższych zawodów ---</em></p>
    {% if zawody_otwarte %}
    <ul>
        {% for zawody_otwarte in zawody_otwarte %}
        <li>
            {% if zawody_otwarte.status_zawodow == 1 %}
            <a href="{% url 'zawody_otwarte_detail' pk=zawody_otwarte.pk  %}"> <img src="{{ zawody_otwarte.logo_zawodow.url }}" alt="Logo" height="40" width="40">{{ zawody_otwarte.tytul }} ({{zawody_otwarte.data_rozpoczecia|date:"d/m/Y"}} - {{zawody_otwarte.data_zakonczenia|date:"d/m/Y"}})</a>
            {% else %}
            <a href="{% url 'zawody_otwarte_detail' pk=zawody_otwarte.pk  %}"><img src="{{ zawody_otwarte.logo_zawodow.url }}" alt="Logo" height="40" width="40"> {{ zawody_otwarte.tytul }} ({{zawody_otwarte.data_rozpoczecia|date:"d/m/Y"}} - {{zawody_otwarte.data_zakonczenia|date:"d/m/Y"}})</a>zgłoszenia zamknięte <em>będzie grafka o zamknięciu</em>
            {% endif %}
        </li>
        {% endfor %}   
    </ul>
    {% else %}
        <p>Brak aktywnych zawodów.</p>
    {% endif %}


<p><em>--- Koniec sekcji lista najbliższych zawodów ---</em></p>

{% endblock %}
